:root{

    --white:#fff;
    --secondary:#FFC107;
    --orange:#eb5227 ;
    --blueone:#171C3D;
    --bluetwo:#171C3D;
    --bluetree: #0B0E26;
    --shadow:0px 2px 0px 0px var(--secondary) ;
}

.products h2{
	text-align: center;
	*margin-bottom: 3rem;
	font-size: 3rem;
	color: var(--secondary);
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: var(--white);
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
	color: var(--bluetree);
	font-weight: 700;
	padding: 0.2rem;
}
.product .product-price{
	color: var(--secondary);
	font-weight: 500;
}
.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 5px 10px 0px var(--white);
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited{
	color: var(--secondary);
	display: inline-block;
	text-decoration: none;
	background-color: var(--bluetree);
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 18px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}

